<div class="fez-footer fez-footer-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-4 to-animate">
        <h3 class="section-title">About FEZ</h3>
        <p>
          FE是“Front End”首字母，Z是“自动化”首拼音字母，FEZ 意为“前端自动化”。谐音“啡思”，意喻“喝着咖啡，专注思考”。让前端开发停止大量繁杂的手工劳作，更专注于业务逻辑！谐音又读“分治”，体现模块化开发理念！
        </p>
      </div>
      <div class="col-md-4 to-animate">
        <h3 class="section-title">Connect</h3>
        <p>
          北京亦庄经济技术开发区京东集团总部
          <br /> 京东商城-电子文娱事业群-技术研发部-前端设计部
          <br /> http://fez.jd.com
        </p>
        <ul class="social-media">
          {{!--
          <li>
            <a href="javascript:void(0);" id="js-open-weixin">
              <i class="fa fa-weixin"></i>
            </a>
          </li> --}}
          <li>
            <a href="https://github.com/furic-zhao/fez" target="_blank">
              <i class="fa fa-github-alt"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 to-animate">
        <h3 class="section-title">Copyright</h3>
        <p class="copy-right">
          &copy;2017-2018 FEZ前端小组
          <br>All Rights Reserved.
          <br>Created by
          <a href="https://github.com/furic-zhao">Furic.zhao</a>
        </p>
      </div>
    </div>
  </div>
</div>
