<div class="fez-footer-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-4 to-animate">
                <h3 class="section-title">About FEZ</h3>
                <p>FE是“front end”首字母，Z是“自动化”首拼音字母，FEZ 意为“前端自动化”。谐音“啡思”，意喻“喝着咖啡，专注思考”。让前端开发停止大量繁杂的手工劳作，更专注于业务逻辑！谐音又读“分治”，体现模块化开发理念！</p>
            </div>
            <div class="col-md-4 to-animate">
                <h3 class="section-title">Connect</h3>
                <p>
                    北京经济技术开发区某总部大楼16层
                    <br> fez.hestudy.com
                </p>
                <ul class="social-media">
                    {{!--
                    <li><a href="#"><i class="fa fa-envelope-o"></i></a></li> --}}
                    <li><a href="#"><i class="fa fa-weixin"></i></a></li>
                    {{!--
                    <li><a href="#"><i class="fa fa-weibo"></i></a></li> --}}
                    <li><a href="https://github.com/furic-zhao/fez"><i class="fa fa-github-alt"></i></a></li>
                </ul>
            </div>
            <div class="col-md-4 to-animate">
                <h3 class="section-title">Copyright</h3>
                <p class="copy-right">&copy; 2017 FEZ前端小组.
                    <br>All Rights Reserved.
                    <br>Created by Furic.zhao
                </p>
            </div>
        </div>
    </div>
</div>
