<div class="core-features" id="m-browsersync">
  <div class="grid2 to-animate browsersync-picture" data-stellar-background-ratio="0.9" data-stellar-vertical-offset="60">
  </div>
  <div class="grid2">
    <div class="core-f section-heading">
      <h2 class="to-animate"><i class="fa fa-coffee"></i> 浏览器同步测试</h2>
      <div class="row">
        <div class="col-md-6">
          <div class="core to-animate">
            <p>FEZ 能让浏览器实时、快速响应文件更改（html、js、css、sass、less、stylus等）并自动刷新页面。可以同时在PC、平板、手机等设备下进项调试。“假设桌子上有pc、ipad、iphone、android等设备，同时打开了需要调试的页面，任何一次代码保存，以上的设备都会同时显示您的改动”。</p>
          </div>
          <div class="core to-animate-2">
            <img src="static/images/index/browsersync/sync-demo.gif" alt="" class="img-responsive">
          </div>
        </div>
        <div class="col-md-6">
          <div class="core to-animate">
            <p>FEZ 可以让您不用在多个浏览器、多个设备间来回切换，频繁的刷新页面。更神奇的是您在一个浏览器中滚动页面、点击等行为也会同步到其他浏览器和设备中，这一切还可以通过可视化界面来控制。</p>
          </div>
          <div class="core to-animate-2">
            <img src="static/images/index/browsersync/scroll-demo.gif" alt="" class="img-responsive">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" id="js-m-deploy">
  <div class="row">
    <div class="col-md-12 section-heading text-center">
      <h2 class="to-animate"><i class="fa fa-coffee"></i> 部署发布</h2>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 subtext">
          <p class="to-animate">
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
              自动化注入、合并、压缩静态资源
            </button>
          </p>
          <p class="to-animate">FEZ 可将第三方框架库(vendor)、项目公共(common)、页面独有(page)等资源自动化插入到HTML页面中，随着项目的迭代、页面及框架库越来越多，将极大简化HTML页面资源的管理工作。</p>
          <h4 class="to-animate">自动化生成所有静态资源md5文件版本号</h4>
          <h4 class="to-animate">自动化添加CDN地址前缀</h4>
          <h4 class="to-animate">通过SSH的SFTP自动部署上线</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">FEZ 全自动化页面资源管理</h3>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <h4>源码环境</h4>
            <div>
              <pre><code class="language-html">{{content1}}</code></pre>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <h4>研发环境</h4>
            <div>
              <pre><code class="language-html">{{content2}}</code></pre>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <h4>发布环境</h4>
            <div>
              <pre><code class="language-html">{{content3}}</code></pre>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <h4>资源管理配置</h4>
            <div>
              <pre><code class="language-json">{{content4}}</code></pre>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
