.icon-nodejs {
    background-image: url(../images/index/framework/nodejs.png);
}

.icon-npm {
    background-image: url(../images/index/framework/npm.png);
}

.icon-gulp {
    background-image: url(../images/index/framework/gulp.png);
}

.icon-browserify {
    background-image: url(../images/index/framework/browserify.png);
}

.icon-es6 {
    background-image: url(../images/index/framework/es6.jpg);
}

.icon-then {
    background-image: url(../images/index/framework/then.png);
}

.icon-bower {
    background-image: url(../images/index/framework/bower.png);
}

.icon-browsersync {
    background-image: url(../images/index/framework/browsersync.jpg);
}

.fez-expand {
    .Babel {
        background-image: url(../images/index/expand/babel.png);
    }
    .lodash {
        background-image: url(../images/index/expand/lodash.png);
    }
    .less {
        background-image: url(../images/index/expand/less.png);
    }
    .sass {
        background-image: url(../images/index/expand/sass.png);
    }
    .jade {
        background-image: url(../images/index/expand/jade.png);
    }
    .autoprefixer {
        background-image: url(../images/index/expand/autoprefixer.png);
    }
    .animate {
        background-image: url(../images/index/expand/animate.png);
    }
    .fontawesome {
        background-image: url(../images/index/expand/fontawesome.png);
    }
    .normalize {
        background-image: url(../images/index/expand/normalize.png);
    }
    .nprogress {
        background-image: url(../images/index/expand/nprogress.png);
    }
    .echarts {
        background-image: url(../images/index/expand/echarts.png);
    }
    .vue {
        background-image: url(../images/index/expand/vue.png);
    }
    .bootstrap {
        background-image: url(../images/index/expand/bootstrap.png);
    }
    .handlebars {
        background-image: url(../images/index/expand/handlebars.png);
    }
    .jquery {
        background-image: url(../images/index/expand/jquery.png);
    }
    .moment {
        background-image: url(../images/index/expand/moment.png);
    }
    .gentelella {
        background-image: url(../images/index/expand/gentelella.png);
    }
    .jsfengge {
        background-image: url(../images/index/expand/jsfengge.png);
    }

    .framework7 {
        background-image: url(../images/index/expand/framework7.png);
    }

    .react {
        background-image: url(../images/index/expand/react.png);
    }

    .swiper {
        background-image: url(../images/index/expand/swiper.png);
    }

    .iview {
        background-image: url(../images/index/expand/iview.png);
    }

    .d3 {
        background-image: url(../images/index/expand/d3.png);
    }

    .threejs {
        background-image: url(../images/index/expand/threejs.png);
    }

    .materialize {
        background-image: url(../images/index/expand/materialize.png);
    }
}


/* ====== */
/* CANVAS */
/* ====== */
canvas{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

/* ===== */
/* INTRO */
/* ===== */
.intro{
  position: absolute;
  top: 20px;
  left:50%;
  transform: translateX(-50%);
  width: 1200px;
  max-width: 100%;
}

// .start{
//   background: none;
//   border: none;
//   font-size: 20px;
//   color: #FFF;
//   cursor: pointer;
//   outline: none;
//   font-family: museo-sans,Verdana,sans-serif;
// }
// .start span{
//    display: inline-block;
//    vertical-align: middle;
//    margin-left: 10px;
// }
// .start svg{
//   width: 30px;
//   height: 30px;
//   vertical-align: middle;
//   display: inline-block;
// }
// .start svg path{
//   fill : #ff7900;
//   transition: .2s ease-out;
//   transform-origin: 7.5px 7.5px;
// }
// .start:hover path:nth-child(1){
//   transform:  translateX(7px) rotate(-45deg);
// }
// .start:hover path:nth-child(2){
//   transform:  translateX(7px) rotate(45deg);
// }
/* ===== */
/* OUTRO */
/* ===== */
.outro{
  position: absolute;
  top: 20px;
  left:50%;
  transform: translateX(-50%);
  width: 1200px;
  max-width: 100%;
  pointer-events: none;
}

