<div class="container">
    <div class="row">
        <div class="col-md-12 section-heading text-center">
            <h2 class="to-animate"><i class="fa fa-puzzle-piece"></i> FEZ 能量源源不断</h2>
            <div class="row">
                <div class="col-md-8 col-md-offset-2 subtext to-animate">
                    <p>FEZ 流淌着全球开源社区的血液，大多功能组件均取之全球最大的开源包NPM平台及Github社区。其自身开源血统，可以与全球大量的优秀框架无缝整合、功能可以无限扩展</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fez-project">
    <div class="container">
        <div class="row">
            <div class="col-md-2 text-center">
                <div class="project-grid to-animate-2 Babel">
                    <a class="desc" href="https://babeljs.io/" target="_blank">Babel</a>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="project-grid to-animate-2 lodash">
                    <a class="desc" href="http://lodashjs.com/" target="_blank">lodash</a>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="project-grid to-animate-2 less">
                    <a class="desc" href="http://www.bootcss.com/p/lesscss/" target="_blank">LESS</a>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="project-grid to-animate-2 sass">
                    <a class="desc" href="http://sass.bootcss.com/" target="_blank">SASS</a>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="project-grid to-animate-2 jade">
                    <a class="desc" href="https://pugjs.org/" target="_blank">Jade(pug)</a>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="project-grid to-animate-2 handlebars">
                    <a class="desc" href="http://handlebarsjs.com/" target="_blank">Handlebars</a>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="project-grid to-animate-2 autoprefixer">
                    <a class="desc" href="https://github.com/postcss/autoprefixer" target="_blank">autoprefixer</a>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="project-grid to-animate-2 animate">
                    <a class="desc" href="https://github.com/daneden/animate.css" target="_blank">animate.css</a>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="project-grid to-animate-2 fontawesome">
                    <a class="desc" href="http://fontawesome.io/" target="_blank">fontawesome</a>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="project-grid to-animate-2 d3">
                    <a class="desc" href="https://d3js.org/" target="_blank">D3</a>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="project-grid to-animate-2 echarts">
                    <a class="desc" href="http://echarts.baidu.com/" target="_blank">echarts</a>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="project-grid to-animate-2 jquery">
                    <a class="desc" href="http://www.jquery123.com/" target="_blank">jquery</a>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="project-grid to-animate-2 bootstrap">
                    <a class="desc" href="http://v3.bootcss.com/" target="_blank">bootstrap</a>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="project-grid to-animate-2 framework7">
                    <a class="desc" href="http://framework7.io/" target="_blank">framework7</a>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="project-grid to-animate-2 react">
                    <a class="desc" href="https://facebook.github.io/react/" target="_blank">React</a>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="project-grid to-animate-2 vue">
                    <a class="desc" href="https://cn.vuejs.org/" target="_blank">vue</a>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="project-grid to-animate-2 iview">
                    <a class="desc" href="https://www.iviewui.com/" target="_blank">Iview</a>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="project-grid to-animate-2 jsfengge">
                    <a class="desc" href="https://github.com/airbnb/javascript" target="_blank">airbnb</a>
                </div>
            </div>
            {{!--
            <div class="col-md-2 text-center">
                <div class="project-grid to-animate-2 swiper">
                    <a class="desc" href="https://github.com/nolimits4web/Swiper" target="_blank">swiper</a>
                </div>
            </div> --}} {{!--
            <div class="col-md-2 text-center">
                <div class="project-grid to-animate-2 threejs">
                    <a class="desc" href="https://threejs.org/" target="_blank">ThreeJS</a>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="project-grid to-animate-2 normalize">
                    <a class="desc" href="https://github.com/necolas/normalize.css" target="_blank">normalize</a>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="project-grid to-animate-2 moment">
                    <a class="desc" href="http://momentjs.com/" target="_blank">moment</a>
                </div>
            </div> --}} {{!--
            <div class="col-md-2 text-center">
                <div class="project-grid to-animate-2 gentelella">
                    <a class="desc" href="https://github.com/puikinsh/gentelella" target="_blank">gentelella</a>
                </div>
            </div>--}}
        </div>
    </div>
</div>
<div id="fez-counter-section" class="fez-counters">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate"><i class="fa fa-area-chart"></i> FEZ 概况</h2>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 subtext">
                        <p class="to-animate">FEZ 在孕育之初曾为国内顶尖互联网安全公司的搜索百科、核心安全、视频直播、智能硬件等项目提供解决方案。现已诞生于国内最大规模的自营电商平台，为其某些重要数据分析项目提供较为完善的前端模块工程自动化开发服务 </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row to-animate">
            <div class="col-md-4 text-center">
                <span class="fez-counter js-counter" data-from="0" data-to="1176" data-speed="8000" data-refresh-interval="50"></span>
                <span class="fez-counter-label">已使用 NPM 包数量</span>
            </div>
            <div class="col-md-4 text-center">
                <span class="fez-counter js-counter" data-from="0" data-to="300" data-speed="8000" data-refresh-interval="50"></span>
                <span class="fez-counter-label">整合过 Bower 文件数量</span>
            </div>
            <div class="col-md-4 text-center">
                <span class="fez-counter js-counter" data-from="0" data-to="17" data-speed="8000" data-refresh-interval="50"></span>
                <span class="fez-counter-label">已支持 项目数量</span>
            </div>
        </div>
    </div>
</div>
