<div class="container">
  <div class="row">
    <div class="col-md-12 section-heading text-center">
      <h2 class="to-animate">
        <i class="fa fa-puzzle-piece"></i>FEZ 能量源源不断
      </h2>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 subtext to-animate">
          <p>FEZ 流淌着全球开源社区的血液，大多功能组件均取之全球最大的开源包NPM平台及Github社区。其自身开源血统，可以与全球大量的优秀框架无缝整合、功能可以无限扩展。</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="fez-project fez-expand">
  <div class="container">
    <div class="row">
      {{#each fezExtend}}
      <div class="col-md-2 text-center">
        <div class="project-grid to-animate-2 {{class}}">
          <a class="desc" href="{{href}}" target="_blank">{{name}}</a>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>
<div id="fez-counter-section" class="fez-counters">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading text-center">
        <h2 class="to-animate">
          <i class="fa fa-area-chart"></i> FEZ 概况
        </h2>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 subtext">
            <p class="to-animate">FEZ 在孕育之初曾为国内顶尖互联网安全公司的搜索百科、核心安全、视频直播、智能硬件等项目提供解决方案。现已诞生于国内最大规模的自营电商平台，为3C文旅事业部、搜索与大数据业务部、新通路事业部、手机京东开放平台，等集团一级事业部，提供业界前沿的前端模块化工程研发支持。 </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row to-animate">
      <div class="col-md-4 text-center">
        <span class="fez-counter js-counter" data-from="0" data-to="1187" data-speed="5000" data-refresh-interval="50"></span>
        <span class="fez-counter-label">已使用 NPM 包数量</span>
      </div>
      <div class="col-md-4 text-center">
        <span class="fez-counter js-counter" data-from="0" data-to="300" data-speed="5000" data-refresh-interval="50"></span>
        <span class="fez-counter-label">整合过 Bower 文件数量</span>
      </div>
      <div class="col-md-4 text-center">
        <span class="fez-counter js-counter" data-from="0" data-to="28" data-speed="5000" data-refresh-interval="50"></span>
        <span class="fez-counter-label">已支持 项目数量</span>
      </div>
    </div>
  </div>
</div>
