<div class="container-fluid">
  <a href="//fezui.hestudy.com" target="_blank">
    <div class="getting-started row" data-stellar-background-ratio="0" data-stellar-vertical-offset="-480">
      <div class="to-animate-2 getting-grid2 col-xs-12 col-sm-12 col-md-4 devices">
      </div>
      <div class="getting-grid col-xs-12 col-sm-12 col-md-4">
        <div class="desc call-to-action text-center">
          <h2 class="to-animate"><image src='static/images/fezui-logo.png' width="272" height="80"></h2>
          <p class="to-animate">现代响应式的多终端UI交互组件库</p>
          <p class="to-animate">一份代码，高效适配PC端、手机端、Pad端</p>
          <p class="to-animate">积木式、组件化快速构建页面</p>
        </div>
      </div>
      <div class="to-animate-2 getting-grid2 col-xs-12 col-sm-12 col-md-4 components"></div>
    </div>
  </a>
</div>
