<div class="fez-team">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading text-center">
        <h2 class="to-animate"><i class="fa fa-address-card"></i> 我们的小伙伴</h2>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 subtext">
            <h3 class="to-animate">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove. </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="team-box text-center to-animate-2">
          <div class="user"><img class="img-reponsive" src="static/images/index/face/furic.png" alt="Roger Garfield"></div>
          <h3>Furic.Zhao</h3>
          <span class="position">Founder, Lead Developer</span>
          <p>曾任职清华附属具有军工资质的企业安全公司，与来自硅谷的研发团队合作开发安全准入系列软件，全权负责八个产品线的前端交互及PHP中间层逻辑。后加盟国内一线互联网安全公司，负责搜索百科、核心安全、视频直播、智能硬件等大中型项目的前端构建。</p>
          <ul class="social-media">
            <li><a href="#" class="codepen"><i class="fa fa-weixin"></i></a></li>
            <li><a href="#" class="github"><i class="fa fa-github-alt"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="team-box text-center to-animate-2">
          <div class="user"><img class="img-reponsive" src="static/images/index/face/github.png" alt="Roger Garfield"></div>
          <h3>王奇</h3>
          <span class="position">Full Stack Developer</span>
          <p>Webpack及React爱好者，对更轻量更高性能的Vue有非常高的兴致、并为其封装大量通用组件库。大量的编译工作对前端工程有比较深刻的理解和使用经验。</p>
          <ul class="social-media">
            <li><a href="#" class="codepen"><i class="fa fa-weixin"></i></a></li>
            <li><a href="#" class="github"><i class="fa fa-github-alt"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="team-box text-center to-animate-2">
          <div class="user"><img class="img-reponsive" src="static/images/index/face/github.png" alt="Roger Garfield"></div>
          <h3>许龙飞</h3>
          <span class="position">Full Stack Developer</span>
          <p>前端界的后起之秀，对代码实现的细节有非常高的敏锐度，对功能的实现有独特的思维，总能快速高效的完成各种模块功能。</p>
          <ul class="social-media">
            <li><a href="#" class="codepen"><i class="fa fa-weixin"></i></a></li>
            <li><a href="#" class="github"><i class="fa fa-github-alt"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="team-box text-center to-animate-2">
          <div class="user"><img class="img-reponsive" src="static/images/index/face/github.png" alt="Roger Garfield"></div>
          <h3>薛帅</h3>
          <span class="position">Full Stack Developer</span>
          <p>国外高效团队合作开发的经验，对工作流程的把控非常到位，善于模块化开发各功能模块间的耦合及组装。</p>
          <ul class="social-media">
            <li><a href="#" class="codepen"><i class="fa fa-weixin"></i></a></li>
            <li><a href="#" class="github"><i class="fa fa-github-alt"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
