<div class="fez-faq">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate"><span>常见问题</span></h2>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 subtext">
                        <h3 class="to-animate">Everything you need to know before you get started</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="box-faq to-animate-2">
                    <i class="icon-check2"></i>
                    <div class="desc">
                        <h3>What is Twist?</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    </div>
                </div>
                <div class="box-faq to-animate-2">
                    <i class="icon-check2"></i>
                    <div class="desc">
                        <h3>I have technical problem, who do I email? </h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    </div>
                </div>
                <div class="box-faq to-animate-2">
                    <i class="icon-check2"></i>
                    <div class="desc">
                        <h3>How do I use Twist features?</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box-faq to-animate-2">
                    <i class="icon-check2"></i>
                    <div class="desc">
                        <h3>What language are available?</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    </div>
                </div>
                <div class="box-faq to-animate-2">
                    <i class="icon-check2"></i>
                    <div class="desc">
                        <h3>Can I have a username that is already taken?</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    </div>
                </div>
                <div class="box-faq to-animate-2">
                    <i class="icon-check2"></i>
                    <div class="desc">
                        <h3>Is Twist free?</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
