<!DOCTYPE HTML>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="no" />
    <meta name="format-detection" content="telephone=no">
    <title>FEZ</title>
    <meta name="description" content="FEZ" />
    <meta name="keywords" content="FEZ,前端自动化,前端工程,前端模块化,异步编程,前端自动化测试,前端自动化部署" />
    <meta name="author" content="Furic.zhao" />
    <link rel="shortcut icon" href="static/images/favicon.ico">
    <!-- inject:bower:css -->
    <!-- bower架库样式 -->
    <!-- endinject -->
    <!-- inject:lib:css -->
    <!-- 项目通用样式 -->
    <!-- endinject -->
    <!-- inject:views:css -->
    <!-- 页面样式 -->
    <!-- endinject -->
</head>

<body>
    <header id="fez-header" role="banner"></header>
    <section id="fez-home" data-section="home" data-stellar-background-ratio="0.5"></section>
    <section id="fez-architecture" data-section="architecture"></section>
    <section id="fez-trusted" data-section="core-idea"></section>
    <section id="fez-source-deploy" data-section="source-deploy"></section>
    <section id="fez-bootstrap"></section>
    <section id="fez-expand" data-section="fez-expand" class="fez-expand"></section>
    <section id="fez-footer"></section>
    <!-- inject:bower:js -->
    <!-- bower框架库脚本 -->
    <!-- endinject -->
    <!-- inject:lib:js -->
    <!-- 项目通用脚本 -->
    <!-- endinject -->
    <!-- inject:views:js -->
    <!-- 页面脚本 -->
    <!-- endinject -->
</body>

</html>
