<!DOCTYPE HTML>
<html lang="zh-CN" class="lt-ie9">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="no" />
  <meta name="format-detection" content="telephone=no">
  <title>FEZ-前端模块化工程开发框架</title>
  <meta name="keywords" content="FEZ,前端模块化工程开发框架,前端模块化,前端工程自动化,前端异步编程,前端自动化测试,前端自动化部署" />
  <meta name="description" content="FEZ是面向前端模块化工程的开发框架。主要目的是统一前端开发模式和项目开发结构，自动化前端工作流，提高开发效率和开发质量，引入持续集成等软件工程的标准流程，集成众多业界先进的解决方案，让研发人员更专注于业务逻辑的实现。核心包括功能模块化、结构规范化、及开发自动化。" />
  <meta property="og:image" content="http://fez.hestudy.com/static/images/fez-logo.png" />
  <meta name="author" content="Furic.zhao" />
  <link rel="shortcut icon" href="static/images/favicon.ico">
  <!-- inject:bower:css -->
  <!-- bower框架库样式 -->
  <!-- endinject -->
  <!-- inject:lib:css -->
  <!-- 项目通用样式 -->
  <!-- endinject -->
  <!-- inject:views:css -->
  <!-- 页面样式 -->
  <!-- endinject -->
</head>

<body>
  <header id="fez-header" role="banner"></header>
  <section id="fez-home" data-section="home"></section>
  <section id="fez-architecture" data-section="architecture"></section>
  <section id="fez-trusted" data-section="core-idea"></section>
  <section id="fez-source-deploy" data-section="source-deploy"></section>
  <section id="fez-bootstrap"></section>
  <section id="fez-expand" data-section="fez-expand"></section>
  <section id="fez-footer"></section>
  <!-- inject:bower:js -->
  <!-- bower框架库脚本 -->
  <!-- endinject -->
  <!-- inject:lib:js -->
  <!-- 项目通用脚本 -->
  <!-- endinject -->
  <!-- inject:views:js -->
  <!-- 页面脚本 -->
  <!-- endinject -->
</body>

</html>
