{{!-- 基本架构 --}}
<div class="fez-architecture" id="m-framework">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate"><i class="fa fa-fort-awesome"></i> 国际前沿的前端工程化架构</h2>
                {{!-- <div class="row">
                    <div class="col-md-8 col-md-offset-2 subtext">
                        <h3 class="to-animate">站在巨人的肩上，看的更高更远</h3>
                    </div>
                </div> --}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 text-center">
                <div class="box-services">
                    <div class="icon to-animate">
                        <span class="icon-nodejs">
                        </span>
                    </div>
                    <div class="fez-post to-animate">
                        <h3>高效、轻量、非阻塞</h3>
                        <p>FEZ 构建在 NodeJS 基于 Chrome V8 引擎的 JavaScript 运行环境，其事件驱动非阻塞的特性，极其快速的编译前端各种资源</p>
                    </div>
                </div>
                <div class="box-services">
                    <div class="icon to-animate">
                        <span class="icon-es6">
                        </span>
                    </div>
                    <div class="fez-post to-animate">
                        <h3>大型应用、企业级开语言</h3>
                        <p>FEZ 支持并遵循 ECMAScript 6.0 语法标准，具备编写复杂的大型应用程序的能力，适应各种项目的场景应用，通过Babel转码运行于各种终端</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="box-services">
                    <div class="icon to-animate">
                        <span class="icon-npm">
                        </span>
                    </div>
                    <div class="fez-post to-animate">
                        <h3>全球最大开源包管理系统</h3>
                        <p>FEZ 使用 NPM 接入全球最大的开源生态系统，具备无限的功能扩展能力，可整合国际前沿的开源框架，适应瞬息万变的技术更替</p>
                    </div>
                </div>
                <div class="box-services">
                    <div class="icon to-animate">
                        <span class="icon-then">
                        </span>
                    </div>
                    <div class="fez-post to-animate">
                        <h3>Promise异步编程</h3>
                        <p>FEZ 支持 Promise 异步编程，协调各模块间的异步调用，让Javasript代码可以“多线程”运行，极大提高执行效率，合理组织各模块关系</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="box-services">
                    <div class="icon to-animate">
                        <span class="icon-gulp">
                        </span>
                    </div>
                    <div class="fez-post to-animate">
                        <h3>Gulp自动化各种编译工作</h3>
                        <p>FEZ 整合Gulp的众多插件，编译、优化和组织前端复杂的模块及静态资源，喝着可乐儿、哼着小曲儿，自动化完成前端大量重复工作</p>
                    </div>
                </div>
                <div class="box-services">
                    <div class="icon to-animate">
                        <span class="icon-bower">
                        </span>
                    </div>
                    <div class="fez-post to-animate">
                        <h3>Bower自动化第三方库管理</h3>
                        <p>FEZ 可配置使用 Bower 搜索、安装、更新和卸载如JavaScript、CSS之类的网络资源，通过自动化注入技术完美解决复杂的框架包管理问题</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="box-services">
                    <div class="icon to-animate">
                        <span class="icon-browserify"></span>
                    </div>
                    <div class="fez-post to-animate">
                        <h3>模块化/分治/通用/复用</h3>
                        <p>FEZ 使用 Browserify 模块化组织和管理项目的各个功能模块，极大提升项目的可维护性、功能复用性，并实现积木式的搭建网页</p>
                    </div>
                </div>
                <div class="box-services">
                    <div class="icon to-animate">
                        <span class="icon-browsersync">
                        </span>
                    </div>
                    <div class="fez-post to-animate">
                        <h3>自动化开发/测试</h3>
                        <p>FEZ 使用 Browsersync 让浏览器实时快速的响应前端各种文件的更改并自动刷新页面，亦可实时同步各个终端，提高至少30%的开发效率</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- 主要功能 --}}
<div class="core-features" id="m-effect">
    <div class="grid2 to-animate core-picture" data-stellar-background-ratio="0.8" data-stellar-vertical-offset="60">
    </div>
    <div class="grid2">
        <div class="core-f">
            <h2 class="to-animate"><i class="fa fa-fort-awesome"></i> 全自动化的前端工作流</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="core">
                        <i class="icon-social-stumbleupon to-animate-2"></i>
                        <div class="fez-post to-animate">
                            <h3>Javascript</h3>
                            <p>FEZ 遵循CommonJS规范。支持ES6语法标准，通过自动化编译简化模块化方案的开发和管理工作，以及Javascript代码测试、合并、压缩</p>
                        </div>
                    </div>
                    <div class="core">
                        <i class="icon-layers to-animate-2"></i>
                        <div class="fez-post to-animate">
                            <h3>CSS</h3>
                            <p>FEZ 可配置使用SASS或者LESS，让书写样式具备编程能力，通过import方式模块化管理，并自动化编译成CSS，自动补全浏览器前缀</p>
                        </div>
                    </div>
                    <div class="core">
                        <i class="icon-organization to-animate-2"></i>
                        <div class="fez-post to-animate">
                            <h3>HTML</h3>
                            <p>FEZ 可配置Bower资源、公共资源、页面资源的自动化注入功能，极大简化HTML页面资源的管理工作，可启用html压缩优化页面性能</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="core">
                        <i class="icon-picture to-animate-2"></i>
                        <div class="fez-post to-animate">
                            <h3>Picture</h3>
                            <p>FEZ 可配置自动化合并小图标为雪碧图，并对所有图片做无损压缩和优化。支持所有图片自动化转换成WebP格式同时生成对应的样式文件</p>
                        </div>
                    </div>
                    <div class="core">
                        <i class="icon-social-tumblr to-animate-2"></i>
                        <div class="fez-post to-animate">
                            <h3>Fonts</h3>
                            <p>FEZ 可配置SVG图标自动转化字体文件，并生成对应的字体样式。像Fontawesome一样使用自己的字体图标。支持对所有字体文件的压缩</p>
                        </div>
                    </div>
                    <div class="core">
                        <i class="icon-social-reddit to-animate-2"></i>
                        <div class="fez-post to-animate">
                            <h3>解决方案</h3>
                            <p>FEZ 自动判断浏览器加载使用WebP图片、px=>rem自动化转换、去缓存自动生成MD5版本号、CDN地址自动化替换、页面资源自动化注入等方案</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
