<div class="fluid-container">
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <!-- Mobile Toggle Menu Button -->
            <a href="#" class="js-fez-nav-toggle fez-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
            <a class="navbar-brand" href="index.html">FEZ</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a href="#" data-nav-section="home">
                        <span><i class="fa fa-home"></i> FEZ</span>
                    </a>
                </li>
                <li>
                    <a href="#" data-nav-section="architecture">
                        <span><i class="fa fa-fort-awesome"></i> 功能架构</span>
                    </a>
                </li>
                <li>
                    <a href="#" data-nav-section="core-idea">
                        <span><i class="fa fa-heartbeat"></i> 核心理念</span>
                    </a>
                </li>
                <li>
                    <a href="#" data-nav-section="source-deploy">
                        <span><i class="fa fa-coffee"></i> 测试部署</span>
                    </a>
                </li>
                <li>
                    <a href="#" data-nav-section="fez-expand">
                        <span><i class="fa fa-puzzle-piece"></i> 功能扩展</span>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/furic-zhao/fez" target="_blank" class="external">
                        <span><i class="fa fa-github-square"></i> 下载使用</span>
                    </a>
                </li>
                <li>
                    <a href="http://doc.hestudy.com/" target="_blank" class="external">
                        <span><i class="fa fa-file-text"></i> API文档平台</span>
                    </a>
                </li>
                {{!-- <li>
                    <a href="#" data-nav-section="blog">
                        <span><i class="fa fa-rss-square"></i> FEZ博客</span>
                    </a>
                </li>
                <li class="call-to-action">
                    <a class="sign-up" href="#">
                        <span>注册</span>
                    </a>
                </li>
                <li class="call-to-action">
                    <a class="log-in" href="#">
                        <span>登录</span>
                    </a>
                </li> --}}
            </ul>
        </div>
    </nav>
</div>
