.fluid-container
    nav.navbar.navbar-default
        .navbar-header
            a(data-toggle='collapse' data-target='#navbar' aria-expanded='false' aria-controls='navbar').js-fh5co-nav-toggle.fh5co-nav-toggle
                i
            |
            |
            a(href='index.html').navbar-brand
        |
        |
        #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right
                li.active
                    a(href='#' data-nav-section='home')
                        i.fa.fa-home
                        span FEZ
