<div class="container">
    <div class="text-wrap">
        <div class="text-inner">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h1 class="to-animate" style="margin-bottom:30px;">
                      <image src="./static/images/fez-logo.png" />
                    </h1>
                    <h2 class="to-animate">前端模块化工程开发框架</h2>
                    <div class="call-to-action">
                        <a href="https://github.com/furic-zhao/fez" class="btn btn-primary btn-lg download to-animate"><i class="fa fa-github"></i> 开始使用</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
