<div class="home-three-box">
    <div class="text-wrap">
        <div class="text-inner" id="three-box">
        <canvas></canvas>
        <div class="intro inner-item">
          <div class="copy">
              <h1 class="to-animate" style="margin-bottom:30px;">
                <image src="./static/images/fez-logo.png" width="240" />
              </h1>
              <div class="section-heading">
              <h2 class="to-animate">前端模块化工程开发框架</h2>
              <div class="call-to-action">
                  <a href="https://github.com/furic-zhao/fez" class="btn btn-primary btn-lg to-animate"><i class="fa fa-github"></i> 开始使用</a>
                  <button class="btn btn-default btn-lg to-animate start">
                  <i class="fa fa-play-circle" aria-hidden="true"></i>
                  主要特性</button>
              </div>
              </div>
          </div>

        </div>
        <div class="outro inner-item">
                <div class="copy" style="margin-top:120px;">
                    <p style="font-weight:300;font-size:28px; margin:30px 0;">
                      前端模块化工程开发框架
                    </p>
                    <p>
                        <a href="https://github.com/furic-zhao/fez" class="btn btn-primary btn-lg to-animate"><i class="fa fa-github"></i> 开始使用</a>
                    </p>
                </div>
        </div>

        </div>
    </div>
</div>
