<div class="container-fluid">
    <div class="getting-started row" data-stellar-background-ratio="0" data-stellar-vertical-offset="-480">
        <div class="to-animate-2 getting-grid2 devices col-xs-12 col-sm-12 col-md-4">
        </div>
        <div class="getting-grid col-xs-12 col-sm-12 col-md-4">
            <div class="desc call-to-action text-center">
                <h2 class="to-animate">完美整合<span>Bootstrap</span></h2>
                <p class="to-animate">全球最受欢迎的 响应式／组件化 前端UI框架。</p>
                <p class="to-animate">一份代码，高效适配手机、平板、PC 设备</p>
                <p class="to-animate">积木式的通用组件快速构建页面</p>
            </div>
        </div>
        <div class="to-animate-2 getting-grid2 components col-xs-12 col-sm-12 col-md-4">
        </div>
    </div>
</div>
